<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <base th:href="@{/}" href="">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="file-upload-url" th:content="@{/admin/article/upload}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>立衡脊柱-全部文章</title>
    <!-- css引用 -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/semantic/semantic.min.css}" href="../../static/lib/semantic/semantic.min.css" />
    <link rel="stylesheet" th:href="@{/lib/toastr/toastr.css}" href="../../static/lib/toastr/toastr.css" />
    <!-- 自定义css -->
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}" href="../../static/admin/css/admin.css" />
    <!-- js引用 -->
    <script type="text/javascript" th:src="@{/lib/jquery-1.11.2.min.js}" src="../../static/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/semantic/semantic.min.js}" src="../../static/lib/semantic/semantic.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/jquery.tablesort.min.js}" src="../../static/lib/jquery.tablesort.min.js"></script>
    <script th:src="@{/lib/toastr/toastr.js}" src="../../static/lib/toastr/toastr.js"></script>
    <!-- 自定义js -->
    <script type="text/javascript" th:src="@{/admin/js/admin.js}" src="../../static/admin/js/admin.js"></script>
</head>

<body>
    <div th:replace="admin/index :: sidebar-menu"></div>
    <div th:replace="admin/index :: top-fixed-menu"></div>
    <div class="pusher ad-index-content">
        <div class="ad-index-container">
            <div th:replace="admin/index :: rail-menu"></div>
            <div id="context">
                <table class="ui sortable celled striped compact table segment lhjz-table-artilce">
                    <thead>
                        <th>名称</th>
                        <th>发布日期</th>
                        <th>发布者</th>
                        <th>操作</th>
                    </thead>
                    <tbody th:remove="all-but-first">
                        <tr th:each="article : ${articles}" th:attrappend="data-id=${article.id}">
                            <td>
                                <a th:href="@{/admin/article/page/view(id=${article.id})}" href="#" th:text="${#strings.abbreviate(article.name,20)}"></a>
                            </td>
                            <td th:text="${#calendars.format(article.createDate,'yyyy/MM/dd HH:mm:ss')}">2015/05/12 12:00:00</td>
                            <td th:text="${article.username}">admin</td>
                            <td>
                                <a class="ui compact tiny button lhjz-btn-edit" th:href="@{/admin/article/page/update(id=${article.id})}" href="#">编辑</a>
                                <div class="ui compact tiny red button lhjz-btn-del">删除</div>
                            </td>
                        </tr>
                        <tr>
                            <td>xxxx</td>
                            <td>2015/05/12 12:00:00</td>
                            <td>admin</td>
                            <td>
                                <div class="ui button lhjz-btn-edit">编辑</div>
                                <div class="ui red button lhjz-btn-del">删除</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ui small test modal">
        <!-- <i class="close icon"></i> -->
        <div class="header">
            删除文章
        </div>
        <div class="content">
            <p>确认要删除文章吗？</p>
        </div>
        <div class="actions">
            <div class="ui negative button">
                取消
            </div>
            <div class="ui positive right labeled icon button">
                确认
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div th:replace="admin/template :: ad-delete-confirm"></div>
    <div th:include="admin/template :: ad-page-common"></div>
    <script type="text/javascript" th:inline="javascript">
    jQuery(document).ready(function($) {

        $('table').tablesort().data('tablesort');

        $('.lhjz-btn-del').click(function() {
            var $btn = $(this);

            $('.ad-delete-confirm').modal({
                onApprove: function() {
                    $btn.triggerHandler('lhjz:yes');
                }
            }).modal('show');
            
        }).api({
            action: 'deleteArticleById',
            method: 'post',
            on: 'lhjz:yes',
            data: {
                /*[+ [[${_csrf.parameterName}]] : [[${_csrf.token}]] +]*/
            },
            beforeSend: function(settings) {
                settings.urlData = {
                    id: $(this).closest('tr').attr('data-id')
                };
                return settings;
            },
            onSuccess: function(resp, elem) {
                toastr['success']("删除成功！");
                $(elem).closest('tr').remove();
            },
            onFailure: function(resp, elem) {
                toastr['error'](resp.data, "删除失败！");
            },
            onError: function(errMsg, elem) {
                toastr['error'](errMsg, "操作失败");
            },
            onAbort: function(errMsg, elem) {
                toastr['error'](errMsg, "操作失败");
            },
            onComplete: function(resp, elem) {}
        });
    });
    </script>
</body>

</html>
