<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <base th:href="@{/}" href="">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>TMS-沟通动态</title>
    <link rel="icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/semantic/semantic.min.css}" href="../../static/lib/semantic/semantic.min.css" />
    <link rel="stylesheet" th:href="@{/lib/toastr/toastr.css}" href="../../static/lib/toastr/toastr.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/md-github.css}" href="../../static/admin/css/md-github.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/simplemde/simplemde.min.css}" href="../../static/lib/simplemde/simplemde.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/awesome/css/font-awesome.min.css}" href="../../static/lib/awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}" href="../../static/admin/css/admin.css" />
    <style>
    .main.container {
        margin-right: 460px !important;
        margin-left: 3em !important;
        width: auto !important;
        max-width: 960px !important;
        padding: 2em 0em 7em;
        position: relative;
    }
    
    .main.container .right.rail {
        margin-left: 3em;
        padding-top: 2em;
        width: 420px;
        /*overflow: auto;*/
    }
    
    .main.container .right.rail .sticky {
        /*max-height: 400px;*/
        overflow: auto;
    }
    
    .CodeMirror,
    .CodeMirror-scroll {
        min-height: 150px;
    }
    
    .CodeMirror-fullscreen,
    .editor-preview-side.editor-preview-active-side {
        z-index: 999;
    }
    
    .avatar.ui.mini.circular.image {
        cursor: pointer;
    }
    
    @media only screen and (max-width: 767px) {
        .main.container {
            margin-right: 0 !important;
            margin-left: 0 !important;
            width: auto !important;
            max-width: 960px !important;
            padding: 2em 0em 7em;
            position: relative;
        }
        .main.container .right.rail {
            margin-left: 3em;
            padding-top: 2em;
            width: 420px;
            display: none;
        }
    }
    </style>
</head>

<body>
    <div th:replace="admin/index :: sidebar-menu"></div>
    <div th:replace="admin/index :: top-fixed-menu"></div>
    <div class="pusher ad-index-content" style="padding-top: 40px; padding-bottom: 0;">
        <div class="ad-index-container">
            <div th:replace="admin/index :: rail-menu"></div>
            <div id="context">
                <!-- <div th:replace="admin/template :: ad-page-header ('沟通动态', 'dynamic')"></div> -->
                <div class="main ui container">
                    <div class="ui dividing right rail" style="min-height: 279px;">
                        <div class="ui sticky sy-dynamic" style="z-index: 0; left: 1040px; width: 283px !important; height: 279px !important; top: 0px;">
                            <h4 class="ui dividing header">动态</h4>
                            <div class="ui feed fd-dynamic">
                                <div class="event" th:each="l : ${logs}">
                                    <div class="label">
                                        <a class="avatar ui mini circular image" style="width: 35px; height: 35px; font-size: 35px; background-color: rgba(150, 178, 183, 0.4); text-align: center;">
                                            <span style="display: inline-block; height: 35px; line-height: 35px; vertical-align: top;" th:if="${not #strings.isEmpty(l.creator.name)}" th:text="${#strings.toUpperCase(#strings.substring(l.creator.name,#strings.length(l.creator.name) - 1,#strings.length(l.creator.name)))}">管理员</span>
                                            <img th:if="${#strings.isEmpty(l.creator.name)}" th:src="@{/img/head.png}" src="../../static/img/head.png">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <div class="summary">
                                            <a class="user" th:text="${#strings.isEmpty(l.creator.name) ? l.creator.username : l.creator.name}">张三</a>
                                            <span th:if="${#strings.toString(l.action) == 'Create'}">添加</span>
                                            <span th:if="${#strings.toString(l.action) == 'Update'}">更新</span>
                                            <span th:if="${#strings.toString(l.action) == 'Delete'}">删除</span>
                                            <a th:if="${#strings.toString(l.target) == 'Translate'}" target="_blank" th:href="@{/admin/translate(id=${l.targetId})}">翻译</a>
                                            <span th:if="${#strings.toString(l.properties) == 'TranslateItem'}">内容</span>
                                            <span th:if="${#strings.toString(l.properties) == 'Key'}">名称</span>
                                            <span th:if="${#strings.toString(l.properties) == 'Watchers'}">关注者</span>
                                            <span th:if="${#strings.toString(l.properties) == 'Labels'}">标签</span>
                                            <div class="date" th:text="${#calendars.format(l.createDate,'yyyy/MM/dd HH:mm:ss')}">
                                                1 Hour Ago
                                            </div>
                                        </div>
                                        <div th:unless="${#strings.isEmpty(l.properties)}" class="extra text">
                                            <div th:unless="${#strings.isEmpty(l.oldValue)}" th:text="${l.oldValue}"></div>
                                            <div style="color: green; font-size: 12px; font-weight: bold;" th:unless="${#strings.isEmpty(l.oldValue)}">变更为</div>
                                            <div th:text="${l.newValue}"></div>
                                        </div>
                                        <!-- <div class="extra images">
                                            <a><img th:src="@{/img/image.png}" src="../../static/img/image.png"></a>
                                            <a><img th:src="@{/img/image.png}" src="../../static/img/image.png"></a>
                                        </div> -->
                                        <!-- <div class="meta">
                                            <a class="like">
                                                <i class="like icon"></i> 4 Likes
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <button th:unless="${logs.last}" class="fluid ui button btn-log-more">加载更多</button>
                        </div>
                    </div>
                    <div class="chat" style="min-height: 1000px;">
                        <div class="ui minimal comments">
                            <h3 class="ui dividing header">沟通</h3>
                            <button th:unless="${chats.last}" class="fluid ui button btn-chat-more">加载更多</button>
                            <div class="comment" th:each="c : ${chats}" th:attr="data-id=${c.id}">
                                <a class="avatar ui mini circular image" style="width: 35px; height: 35px; font-size: 35px; background-color: rgba(150, 178, 183, 0.4); text-align: center;">
                                    <span style="display: inline-block; height: 35px; line-height: 35px; vertical-align: top;" th:if="${not #strings.isEmpty(c.creator.name)}" th:text="${#strings.toUpperCase(#strings.substring(c.creator.name,#strings.length(c.creator.name) - 1,#strings.length(c.creator.name)))}">管理员</span>
                                    <img th:if="${#strings.isEmpty(c.creator.name)}" th:src="@{/img/head.png}" src="../../static/img/head.png">
                                </a>
                                <div class="content">
                                    <a class="author" style="color: #4183c4;" th:text="${c.creator.name}">Matt</a>
                                    <div class="metadata">
                                        <span class="date" th:text="${#calendars.format(c.createDate,'yyyy/MM/dd HH:mm:ss')}">Today at 5:42PM</span>
                                    </div>
                                    <div class="text markdown-body" th:text="${c.content}">
                                        How artistic!
                                    </div>
                                    <div class="actions" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') or (c.creator.username == user.username)}">
                                        <a class="edit">编辑</a>
                                        <a class="delete">删除</a>
                                    </div>
                                </div>
                            </div>
                            <form class="ui reply form">
                                <div class="field markdown-body">
                                    <textarea class="ta-md"></textarea>
                                </div>
                                <div class="ui blue labeled submit icon button btn-chat-submit">
                                    <i class="icon edit"></i> 提交
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="admin/template :: ad-handle-confirm"></div>
    <div th:replace="admin/template :: ad-delete-confirm"></div>
    <div th:replace="admin/template :: ad-chat-edit"></div>
    <div th:include="admin/template :: ad-page-common"></div>
    <div th:replace="admin/template :: ad-page-dimmer"></div>
    <div th:replace="admin/template :: chatMoreTpl"></div>
    <div th:replace="admin/template :: logMoreTpl"></div>
    <input type="hidden" name="page.number" th:value="${chats.number}" />
    <input type="hidden" name="page.number.next" th:value="${chats.number + 1}" />
    <input type="hidden" name="page.size" th:value="${chats.size}" />
    <input type="hidden" name="page.number.logs" th:value="${logs.number}" />
    <input type="hidden" name="page.number.next.logs" th:value="${logs.number + 1}" />
    <input type="hidden" name="page.size.logs" th:value="${logs.size}" />
    <input type="hidden" name="user.username" th:value="${user.username}" />
    <input type="hidden" name="role.admin" th:value="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" />
    <script type="text/javascript" th:src="@{/lib/jquery-1.11.1.min.js}" src="../../static/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/semantic/semantic.min.js}" src="../../static/lib/semantic/semantic.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/jquery.tablesort.min.js}" src="../../static/lib/jquery.tablesort.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/toastr/toastr.js}" src="../../static/lib/toastr/toastr.js"></script>
    <script type="text/javascript" th:src="@{/lib/showdown.min.js}" src="../../static/lib/showdown.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/simplemde/simplemde.min.js}" src="../../static/lib/simplemde/simplemde.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/jquery.tmpl.min.js}" src="../../static/lib/jquery.tmpl.min.js"></script>
    <script type="text/javascript" th:src="@{/admin/js/admin.js}" src="../../static/admin/js/admin.js"></script>
    <script type="text/javascript">
    jQuery(function($) {
        $('table').tablesort().data('tablesort');
        $('.ui.dropdown').dropdown();
        $('.pp').popup();
        $('.ui.dropdown.dd-actions').dropdown({
            action: 'hide'
        });

        $('.main.container .right.rail .sticky').css('max-height', $(window).height() - 70);
        $(window).resize(function(event) {
            $('.main.container .right.rail .sticky').css('max-height', $(window).height() - 70);
        });

        var simplemde = new SimpleMDE({
            element: $(".ta-md")[0],
            autoDownloadFontAwesome: false,
            autosave: {
                enabled: true,
                delay: 5000,
                uniqueId: "chat-content"
            }
        });

        var simplemdeEdit = new SimpleMDE({
            element: $(".ad-chat-edit textarea")[0],
            autoDownloadFontAwesome: false,
            autosave: {
                enabled: true,
                delay: 5000,
                uniqueId: "chat-edit-content"
            }
        });

        var $textMds = $('.comments .content .text');
        $textMds.each(function(index, el) {
            $(el).html(simplemde.markdown($(el).text()));
        });

        $('.btn-chat-submit').click(function(event) {
            $.post('/admin/chat/create', {
                content: simplemde.value()
            }, function(data, textStatus, xhr) {
                if (data.success) {
                    simplemde.value('');
                    simplemde.autosave();
                    toastr.success('提交成功!');
                    window.location.reload();
                } else {
                    toastr.success(data.data, '提交失败!');
                }
            });
        });

        $('body').on('click', '.comments .actions a.delete', function(event) {
            $btn = $(this);
            $('.ad-delete-confirm').modal({
                onApprove: function() {
                    $.post('/admin/chat/delete', {
                        id: $btn.closest('.comment').attr('data-id')
                    }, function(data, textStatus, xhr) {
                        if (data.success) {
                            $btn.closest('.comment').remove();
                            toastr.success('删除成功!');
                        } else {
                            toastr.error(data.data, '删除失败!');
                        }
                    });
                }
            }).modal('show');
        });

        $('body').on('click', '.comments .actions a.edit', function(event) {
            $btn = $(this);

            $.get('/admin/chat/get', {
                id: $btn.closest('.comment').attr('data-id')
            }, function(data) {
                if (data.success) {
                    $('.ad-chat-edit').modal({
                        onShow: function() {
                            simplemdeEdit.value(data.data.content);
                        },
                        onApprove: function() {
                            if (!simplemdeEdit.value()) {
                                toastr.error('更新内容不能为空!');
                                return false;
                            }
                            $.post('/admin/chat/update', {
                                id: $btn.closest('.comment').attr('data-id'),
                                content: simplemdeEdit.value()
                            }, function(data, textStatus, xhr) {
                                if (data.success) {
                                    $btn.closest('.comment').find('.content .text.markdown-body').html(simplemdeEdit.markdown(simplemdeEdit.value()));
                                    toastr.success('更新成功!');
                                } else {
                                    toastr.error(data.data, '更新失败!');
                                }
                            });
                        }
                    }).modal('show');
                } else {
                    toastr.error(data.data, '获取失败!');
                }
            });
        });

        $('.btn-chat-more').click(function(event) {
            $btn = $(this);

            $.get('/admin/chat/more', {
                page: $('input:hidden[name="page.number.next"]').val(),
                size: $('input:hidden[name="page.size"]').val()
            }, function(data) {
                if (data.success) {

                    if (data.data.content.length == 0) {
                        toastr.warning('没有更多数据了!');
                        return;
                    }

                    $('input:hidden[name="page.number.next"]').val(data.data.number + 1);
                    $('input:hidden[name="page.size"]').val(data.data.size);

                    var isAdminRole = $('input:hidden[name="role.admin"]').val();
                    var loginUsername = $('input:hidden[name="user.username"]').val();
                    $.each(data.data.content, function(index, chat) {
                        chat.contentMd = simplemde.markdown(chat.content);
                        if (chat.creator.name) {
                            chat.creator.iconName = chat.creator.name.substr(chat.creator.name.length - 1).toUpperCase();
                        }
                        if (isAdminRole == 'true' || loginUsername == creator.username) {
                            chat.actions = true;
                        }
                        var d = new Date(chat.createDate);
                        chat.createDateFormat = d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
                    });
                    $("#chatMoreTpl").tmpl(data.data.content).insertAfter($('.btn-chat-more'));
                    data.data.last && $btn.remove();
                    toastr.success('加载成功!');
                } else {
                    toastr.error(data.data, '加载失败!');
                }
            });
        });


        var actionMapping = {
            'Create': '创建',
            'Update': '更新',
            "Delete": '删除'
        };
        var propMapping = {
            'TranslateItem': '内容',
            'Key': '名称',
            'Watchers': '关注者',
            'Labels': '标签'
        };

        $('.btn-log-more').click(function(event) {
            $btn = $(this);

            $.get('/admin/chat/moreLogs', {
                page: $('input:hidden[name="page.number.next.logs"]').val(),
                size: $('input:hidden[name="page.size.logs"]').val()
            }, function(data) {
                if (data.success) {

                    if (data.data.content.length == 0) {
                        toastr.warning('没有更多数据了!');
                        return;
                    }

                    $('input:hidden[name="page.number.next.logs"]').val(data.data.number + 1);
                    $('input:hidden[name="page.size.logs"]').val(data.data.size);

                    $.each(data.data.content, function(index, log) {
                        if (log.creator.name) {
                            log.creator.iconName = log.creator.name.substr(log.creator.name.length - 1).toUpperCase();
                        }
                        log.action = actionMapping[log.action];
                        log.properties = propMapping[log.properties];
                        var d = new Date(log.createDate);
                        log.createDate = d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
                    });
                    $("#logMoreTpl").tmpl(data.data.content).appendTo('.fd-dynamic');
                    data.data.last && $btn.remove();
                    toastr.success('加载成功!');
                } else {
                    toastr.error(data.data, '加载失败!');
                }
            });
        });

    });
    </script>
</body>

</html>
