<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <base th:href="@{/}" href="">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>立衡脊柱-资源文件</title>
    <link rel="stylesheet" th:href="@{/lib/semantic/semantic.min.css}" href="../../static/lib/semantic/semantic.min.css" />
    <link rel="stylesheet" th:href="@{/lib/dropzone/dropzone.css}" href="../../static/lib/dropzone/dropzone.css" />
    <link rel="stylesheet" th:href="@{/lib/fancybox/jquery.fancybox.css}" href="../../static/lib/fancybox/jquery.fancybox.css" />
    <link rel="stylesheet" th:href="@{/lib/fancybox/helpers/jquery.fancybox-thumbs.css}" href="../../static/lib/fancybox/helpers/jquery.fancybox-thumbs.css" />
    <link rel="stylesheet" th:href="@{/lib/toastr/toastr.css}" href="../../static/lib/toastr/toastr.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/md-github.css}" href="../../static/admin/css/md-github.css" />
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}" href="../../static/admin/css/admin.css" />
    <script type="text/javascript" th:src="@{/lib/jquery-1.11.1.min.js}" src="../../static/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/semantic/semantic.min.js}" src="../../static/lib/semantic/semantic.min.js"></script>
    <script th:src="@{/lib/dropzone/dropzone.js}" src="../../static/lib/dropzone/dropzone.js"></script>
    <script type="text/javascript" th:src="@{/lib/showdown.min.js}" src="../../static/lib/showdown.min.js"></script>
    <script th:src="@{/lib/jquery.iframe-transport.js}" src="../../static/lib/jquery.iframe-transport.js"></script>
    <script th:src="@{/lib/fancybox/jquery.fancybox.js}" src="../../static/lib/fancybox/jquery.fancybox.js"></script>
    <script th:src="@{/lib/fancybox/helpers/jquery.fancybox-thumbs.js}" src="../../static/lib/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
    <script th:src="@{/lib/toastr/toastr.js}" src="../../static/lib/toastr/toastr.js"></script>
    <!-- custom js -->
    <script type="text/javascript" th:src="@{/admin/js/admin.js}" src="../../static/admin/js/admin.js"></script>
</head>

<body>
    <div th:replace="admin/index :: sidebar-menu"></div>
    <div th:replace="admin/index :: top-fixed-menu"></div>
    <div class="pusher ad-index-content">
        <div class="ad-index-container">
            <div th:replace="admin/index :: rail-menu"></div>
            <div id="context">
                <div th:replace="admin/template :: ad-page-header ('资源文件', 'resource')"></div>
                <div class="ui attached segment">
                    <div id="dropzone">
                        <form action="admin/file/upload" method="post" class="dropzone" id="my-dropzone">
                            <div class="dz-message">拖拽或者点击选择文件上传</div>
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                                <button type="submit">上传</button>
                            </div>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        </form>
                    </div>
                </div>
                <div class="ui attached segment">
                    <div class="ui six doubling cards ad-img-cards">
                        <div class="card ad-img-card" th:each="img : ${imgs}">
                            <a class="image fancybox" data-fancybox-group="gallery" th:title="${T(com.lhjz.portal.util.FileUtil).getName(img.name)}" th:href="@{/{path}/{uuidName}(path=${path},uuidName=${img.uuidName})}"> <img th:src="@{/{path}/{uuidName}(path=${pathLarge},uuidName=${img.uuidName})}" src="../../static/img/img01_b.jpg">
                            </a>
                            <div class="content">
                                <a class="header" th:text="${T(com.lhjz.portal.util.FileUtil).getName(img.name)}">img01_b</a>
                                <div class="ui action mini fluid input">
                                    <input type="text" placeholder="输入名称">
                                    <button class="ui icon button" th:attr="data-id=${img.id}">
                                        <i class="checkmark icon"></i>
                                    </button>
                                </div>
                            </div>
                            <a class="ui top right red attached label ad-img-del" th:attr="data-id=${img.id}">删除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="admin/template :: ad-delete-confirm"></div>
    <div th:include="admin/template :: ad-page-common"></div>
    <script type="text/javascript" th:inline="javascript">
    // dropzone file uploader
    jQuery(document).ready(function($) {

        // 图片名称修改
        $('.ad-img-cards .ui.input').hide();

        $('.ad-img-cards').delegate('.ad-img-card .ui.button', 'click', function() {
            $(this).prevAll('input').val('').parents('.ui.input').hide().prevAll('.header').show();
        })

        $('.ad-img-cards').delegate('.content > .header', 'click', function() {
            $(this).hide().nextAll('.ui.input').show().find('input').val(Utils.removeFileType($(this).text())).select().focus();
        })

        $('.ad-img-cards .ui.input input').keydown(function(evt) {
            if (!evt.ctrlKey && !evt.altKey && !evt.shiftKey && evt.keyCode == 13) {
                $(this).nextAll('.ui.button').click();
                evt.preventDefault();
            }
        });

        $('.ad-img-cards .ad-img-card .ui.button')
            .api({
                action: 'updateFileName',
                method: 'post',
                //stateContext: '.ad-img-cards',
                data: {
                    /*[+ [[${_csrf.parameterName}]] : [[${_csrf.token}]] +]*/
                },
                beforeSend: function(settings) {
                    settings.urlData = {
                        name: $(this).prevAll('input').val()
                    };
                    return settings;
                },
                onSuccess: function(resp, elem) {
                    toastr['success']("修改成功！");
                    $(this).prevAll('input').val('').parent().prevAll('.header').text(Utils.removeFileType(resp.data.name));
                    $(this).closest('.ad-img-card').find('a.fancybox').attr('title', Utils.removeFileType(resp.data.name));
                },
                onFailure: function(resp, elem) {
                    toastr['error'](resp.data, "修改失败！");
                },
                onError: function(errMsg, elem) {
                    toastr['error'](errMsg, "操作失败");
                },
                onAbort: function(errMsg, elem) {
                    toastr['error'](errMsg, "操作失败");
                },
                onComplete: function(resp, elem) {
                    $(this).parents('.ui.input').hide().prevAll('.header').show();
                }
            });

        // 图片上传
        Dropzone.options.myDropzone = {
            paramName: function() {
                return "file";
            },
            maxFilesize: 5,
            maxFiles: 10,
            addRemoveLinks: true,
            uploadMultiple: true,
            //forceFallback : true,
            fallback: function() {
                $("#my-dropzone").submit(function() {
                    var $form = $(this).attr('enctype', 'multipart/form-data');
                    $.ajax($form.prop('action'), {
                        data: $form.find(':hidden').serializeArray(),
                        dataType: 'json',
                        files: $form.find(':file'),
                        iframe: true,
                        processData: false
                    }).always(function() {
                        $form.find(':file').val('');
                    }).done(function(resp) {
                        // console.log(JSON.stringify(resp));
                        if (resp.success) {
                            toastr['success']
                                ("上传成功！");
                        } else {
                            toastr['error']
                                (resp.data, "上传失败！");
                        }
                    });
                }).find('.fallback').show();
            },
            acceptedFiles: 'image/*',
            dictDefaultMessage: '拖拽或者点击选择文件上传',
            dictFallbackMessage: '您的浏览器不支持最新拖拽文件上传！',
            dictFallbackText: '请像过去一样，使用传统表单模式上传文件！',
            dictInvalidFileType: '上传文件类型错误，只支持图片类型！',
            dictFileTooBig: '文件大小超过限制，当前文件：{{filesize}}M，最大限制：{{maxFilesize}}M',
            dictResponseError: '服务器状态码错误，状态码:{{statusCode}}',
            dictCancelUpload: '取消上传',
            dictCancelUploadConfirmation: '确定要取消上传吗?',
            dictRemoveFile: '移除文件',
            dictMaxFilesExceeded: '超过最大文件上传数，最大限制：{{maxFiles}}个！',
            init: function() {
                this.on("success", function(file, resp) {
                    if (resp.success) {
                        toastr['success']("上传成功！");
                    } else {
                        toastr['error'](resp.data, "上传失败！");
                    }
                });
                this.on("error", function(file, errMsg, xhr) {
                    toastr['error'](errMsg, "上传失败！");
                });
            }
        };
        // 幻灯图片展示
        $('.fancybox').fancybox({
            helpers: {
                thumbs: {
                    width: 50,
                    height: 50
                }
            }
        });
        // 图片删除
        $('.ad-img-card').hover(function() {
            $('.ad-img-del', this).show();
        }, function() {
            $('.ad-img-del', this).hide();
        });

        // image delete confirm
        $('.ad-img-del').hide().click(function(event) {
            var $btn = $(this);

            $('.ad-delete-confirm').modal({
                onApprove: function() {
                    $btn.triggerHandler('lhjz:yes');
                }
            }).modal('show');
        }).api({
            action: 'deleteFileById',
            method: 'post',
            on: 'lhjz:yes',
            data: {
                /*[+ [[${_csrf.parameterName}]] : [[${_csrf.token}]] +]*/
            },
            onSuccess: function(resp, elem) {
                toastr['success']("删除成功！");
                $(elem).parent().remove();
            },
            onFailure: function(resp, elem) {
                toastr['error'](resp.data, "删除失败！");
            },
            onError: function(errMsg, elem) {
                toastr['error'](errMsg, "操作失败");
            },
            onAbort: function(errMsg, elem) {
                toastr['error'](errMsg, "操作失败");
            },
            onComplete: function(resp, elem) {}
        });
    });
    </script>
</body>

</html>
