<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>立衡脊柱- 团队招聘</title>
    <link rel="icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap core CSS -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" href="../../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/lib/scrollup/css/themes/image.css}" href="../../static/lib/scrollup/css/themes/image.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/lib/dropzone/dropzone.css}" href="../../static/lib/dropzone/dropzone.css" />
    <link rel="stylesheet" th:href="@{/lib/toastr/toastr.css}" href="../../static/lib/toastr/toastr.css" />
    <!-- Add custom CSS here -->
    <link th:href="@{/landing/css/custom.css}" href="../../static/landing/css/custom.css" rel="stylesheet" />
    <!-- JavaScript -->
    <script th:src="@{/lib/jquery-1.11.1.min.js}" src="../../static/lib/jquery-1.11.1.min.js" charset="utf-8"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}" src="../../static/lib/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <script th:src="@{/lib/scrollup/js/jquery.scrollUp.min.js}" src="../../static/lib/scrollup/js/jquery.scrollUp.min.js" charset="utf-8"></script>
    <script th:src="@{/lib/dropzone/dropzone.js}" src="../../static/lib/dropzone/dropzone.js"></script>
    <script th:src="@{/lib/jquery.iframe-transport.js}" src="../../static/lib/jquery.iframe-transport.js"></script>
    <script th:src="@{/lib/toastr/toastr.js}" src="../../static/lib/toastr/toastr.js"></script>
    <script th:src="@{/landing/js/custom.js}" src="../../static/landing/js/custom.js" charset="utf-8"></script>
</head>

<body class="lhjz-job">
    <div th:replace="landing/index :: header"></div>
    <div class="container">
        <div class="row clearfix" id="about">
            <div class="col-md-12 column">
                <div class="jumbotron lhjz-jumbotron">
                    <h2>团队招聘</h2>
                    <p th:text="${#lists.isEmpty(introductions) ? '' : introductions[0].content}">立恒脊柱是一个年轻的医疗机构,但我们网络了一批从事脊柱矫正职业几十年的老专家,我们正谋划再北京成立一个年轻的团队,诚邀精英有志者加入,让我们一起为脊柱病患者排忧解难!</p>
                </div>
            </div>
        </div>
        <!-- 脊柱健康科普知识缩略图 -->
        <div class="row clearfix" th:remove="all-but-first">
            <div class="col-md-6" th:each="job : ${jobs}" th:unless="${#lists.isEmpty(jobs)}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <h3 class="text-center"><span th:text="${job.category}">前台</span>&nbsp;&nbsp;<small><span th:text="${job.size}">2</span>人</small></h3>
                        </div>
                        <table class="table table-condensed table-hover table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">工作经验:</th>
                                    <td th:text="${job.experience}">不限,可接受应届毕业生</td>
                                </tr>
                                <tr>
                                    <th scope="row">学历要求:</th>
                                    <td th:text="${job.education}">不限</td>
                                </tr>
                                <tr>
                                    <th scope="row">转正工资:</th>
                                    <td th:text="${job.salary}" colspan="2">面议</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="tag" th:remove="all-but-first">
                            <span th:each="lbl : ${job.labelList}" th:text="${lbl}" class="label label-default">五险一金</span>
                            <span class="label label-default">周末双休</span>
                            <span class="label label-default">年底双薪</span>
                            <span class="label label-default">带薪年假</span>
                            <span class="label label-default">组织旅游</span>
                        </div>
                        <div class="desc">
                            <div class="title"><b>岗位职责:</b></div>
                            <p th:text="${job.duty}">1、负责公司前台接待工作。2、负责公司电话接转、收发传真、文档复印等工作。3、负责各类办公文档、商务文档、合同协议的录入、排版、打印。4、日常文书、资料整理及其他一般行政事务。岗位要求：1、对办公室工作程序熟悉2、熟练使用Word、Excel等办公软件；3、具有良好的沟通能力、协调能力，及较强的保密意识；4、具有良好的适应能力，能在压力下工作。5、身高...</p>
                        </div>
                        <div class="center-block">
                            <button th:unless="${#strings.isEmpty(job.link)}" type="button" class="btn btn-default">了解更多</button>
                            <button th:attr="data-id=${job.id}" type="button" class="btn btn-primary pull-right btn-apply-job">申请该职位</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <h3 class="text-center"><span>前台</span>&nbsp;&nbsp;<small>2人</small></h3>
                        </div>
                        <table class="table table-condensed table-hover table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">工作经验:</th>
                                    <td>不限,可接受应届毕业生</td>
                                </tr>
                                <tr>
                                    <th scope="row">学历要求:</th>
                                    <td>不限</td>
                                </tr>
                                <tr>
                                    <th scope="row">转正工资:</th>
                                    <td colspan="2">面议</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="tag">
                            <span class="label label-default">五险一金</span>
                            <span class="label label-default">周末双休</span>
                            <span class="label label-default">年底双薪</span>
                            <span class="label label-default">带薪年假</span>
                            <span class="label label-default">组织旅游</span>
                        </div>
                        <div class="desc">
                            <div class="title"><b>岗位职责:</b></div>
                            <p>1、负责公司前台接待工作。2、负责公司电话接转、收发传真、文档复印等工作。3、负责各类办公文档、商务文档、合同协议的录入、排版、打印。4、日常文书、资料整理及其他一般行政事务。岗位要求：1、对办公室工作程序熟悉2、熟练使用Word、Excel等办公软件；3、具有良好的沟通能力、协调能力，及较强的保密意识；4、具有良好的适应能力，能在压力下工作。5、身高...</p>
                        </div>
                        <div class="center-block">
                            <button type="button" class="btn btn-default">了解更多</button>
                            <button type="button" class="btn btn-primary pull-right">申请该职位</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <h3 class="text-center"><span>前台</span>&nbsp;&nbsp;<small>2人</small></h3>
                        </div>
                        <table class="table table-condensed table-hover table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">工作经验:</th>
                                    <td>不限,可接受应届毕业生</td>
                                </tr>
                                <tr>
                                    <th scope="row">学历要求:</th>
                                    <td>不限</td>
                                </tr>
                                <tr>
                                    <th scope="row">转正工资:</th>
                                    <td colspan="2">面议</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="tag">
                            <span class="label label-default">五险一金</span>
                            <span class="label label-default">周末双休</span>
                            <span class="label label-default">年底双薪</span>
                            <span class="label label-default">带薪年假</span>
                            <span class="label label-default">组织旅游</span>
                        </div>
                        <div class="desc">
                            <div class="title"><b>岗位职责:</b></div>
                            <p>1、负责公司前台接待工作。2、负责公司电话接转、收发传真、文档复印等工作。3、负责各类办公文档、商务文档、合同协议的录入、排版、打印。4、日常文书、资料整理及其他一般行政事务。岗位要求：1、对办公室工作程序熟悉2、熟练使用Word、Excel等办公软件；3、具有良好的沟通能力、协调能力，及较强的保密意识；4、具有良好的适应能力，能在压力下工作。5、身高...</p>
                        </div>
                        <div class="center-block">
                            <button type="button" class="btn btn-default">了解更多</button>
                            <button type="button" class="btn btn-primary pull-right">申请该职位</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <h3 class="text-center"><span>前台</span>&nbsp;&nbsp;<small>2人</small></h3>
                        </div>
                        <table class="table table-condensed table-hover table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">工作经验:</th>
                                    <td>不限,可接受应届毕业生</td>
                                </tr>
                                <tr>
                                    <th scope="row">学历要求:</th>
                                    <td>不限</td>
                                </tr>
                                <tr>
                                    <th scope="row">转正工资:</th>
                                    <td colspan="2">面议</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="tag">
                            <span class="label label-default">五险一金</span>
                            <span class="label label-default">周末双休</span>
                            <span class="label label-default">年底双薪</span>
                            <span class="label label-default">带薪年假</span>
                            <span class="label label-default">组织旅游</span>
                        </div>
                        <div class="desc">
                            <div class="title"><b>岗位职责:</b></div>
                            <p>1、负责公司前台接待工作。2、负责公司电话接转、收发传真、文档复印等工作。3、负责各类办公文档、商务文档、合同协议的录入、排版、打印。4、日常文书、资料整理及其他一般行政事务。岗位要求：1、对办公室工作程序熟悉2、熟练使用Word、Excel等办公软件；3、具有良好的沟通能力、协调能力，及较强的保密意识；4、具有良好的适应能力，能在压力下工作。5、身高...</p>
                        </div>
                        <div class="center-block">
                            <button type="button" class="btn btn-default">了解更多</button>
                            <button type="button" class="btn btn-primary pull-right">申请该职位</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 外链 -->
    </div>
    <!-- 上传简历文件 -->
    <div class="modal fade modal-upload">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">简历上传</h4>
                </div>
                <div class="modal-body">
                    <div id="dropzone">
                        <form action="job/upload" method="post" class="dropzone" id="my-dropzone">
                            <div class="dz-message">拖拽或者点击选择文件上传</div>
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                                <button type="submit">上传</button>
                            </div>
                            <input type="hidden" name="jobId" value="" />
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <!-- <button type="button" class="btn btn-primary">保存</button> -->
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div th:replace="landing/index :: footer"></div>
    <div th:include="landing/template :: page-common"></div>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.btn-apply-job').click(function(event) {

            $('.modal-upload').find('input[name="jobId"]').val($(this).attr('data-id'));
            $('.modal-upload').modal('show');
        });

        // 图片上传
        Dropzone.options.myDropzone = {
            paramName: function() {
                return "file";
            },
            maxFilesize: 5,
            maxFiles: 5,
            addRemoveLinks: true,
            uploadMultiple: false,
            forceFallback : false,
            fallback: function() {
                $("#my-dropzone").submit(function() {
                    var $form = $(this).attr('enctype', 'multipart/form-data');
                    $.ajax($form.prop('action'), {
                        data: $form.find(':hidden').serializeArray(),
                        dataType: 'json',
                        files: $form.find(':file'),
                        iframe: true,
                        processData: false
                    }).always(function() {
                        $form.find(':file').val('');
                    }).done(function(resp) {
                        if (resp.success) {
                            toastr['success']
                                ("上传成功！");
                        } else {
                            toastr['error']
                                (resp.data, "上传失败！");
                        }
                    });
                }).find('.fallback').show();
            },
            //acceptedFiles: '*/*',
            dictDefaultMessage: '拖拽或者点击选择文件上传',
            dictFallbackMessage: '您的浏览器不支持最新拖拽文件上传！',
            dictFallbackText: '请像过去一样，使用传统表单模式上传文件！',
            dictInvalidFileType: '上传文件类型错误，不支持该文件类型！',
            dictFileTooBig: '文件大小超过限制，当前文件：{{filesize}}M，最大限制：{{maxFilesize}}M',
            dictResponseError: '服务器状态码错误，状态码:{{statusCode}}',
            dictCancelUpload: '取消上传',
            dictCancelUploadConfirmation: '确定要取消上传吗?',
            dictRemoveFile: '移除文件',
            dictMaxFilesExceeded: '超过最大文件上传数，最大限制：{{maxFiles}}个！',
            init: function() {
                this.on("success", function(file, resp) {
                    if (resp.success) {
                        toastr['success']("上传成功！");
                    } else {
                        toastr['error'](resp.data, "上传失败！");
                    }
                });
                this.on("error", function(file, errMsg, xhr) {
                    toastr['error'](errMsg, "上传失败！");
                });
            }
        };
    });
    </script>
</body>

</html>
