<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>立衡脊柱- 专家团队</title>
    <link rel="icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap core CSS -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" href="../../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/lib/scrollup/css/themes/image.css}" href="../../static/lib/scrollup/css/themes/image.css" rel="stylesheet" type="text/css" />
    <!-- Add custom CSS here -->
    <link th:href="@{/landing/css/custom.css}" href="../../static/landing/css/custom.css" rel="stylesheet" />
    <!-- JavaScript -->
    <script th:src="@{/lib/jquery-1.11.1.min.js}" src="../../static/lib/jquery-1.11.1.min.js" charset="utf-8"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}" src="../../static/lib/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <script th:src="@{/lib/scrollup/js/jquery.scrollUp.min.js}" src="../../static/lib/scrollup/js/jquery.scrollUp.min.js" charset="utf-8"></script>
    <script th:src="@{/landing/js/custom.js}" src="../../static/landing/js/custom.js" charset="utf-8"></script>
</head>

<body>
    <div th:replace="landing/index :: header"></div>
    <div class="container">
        <div class="row clearfix" id="about">
            <div class="col-md-12 column">
                <div class="jumbotron lhjz-jumbotron">
                    <h2>专家团队</h2>
                    <p>立衡脊柱矫正院(立衡脊柱)成立于1994年，在全国有四家分支机构，现在北京开设第一家分支机构。立衡脊柱是一家致力于治疗脊柱病以及脊柱相关疾病的一家矫正机构。我机构以平衡矫正为核心理念，利用多项专利设备以及器具，加以相关辅助疗法组合成一套综合疗法，其疗效显著，二十多年来治愈无数患者。 立衡脊柱不仅是一家严格要求自己，注重自身健康发展的机构。
                    </p>
                    <p>
                        <a class="btn btn-primary btn-large" href="#more">查看更多 &gt;&gt;</a>
                    </p>
                    <div id="more"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img alt="300x200" th:src="@{/landing/img/img1.jpg}" src="../../static/landing/img/img1.jpg" />
                    <div class="caption">
                        <h3>XXX</h3>
                        <p>是的，这部分就是内容啦！</p>
                        <p>
                            <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">更多 »</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img alt="300x200" th:src="@{/landing/img/img1.jpg}" src="../../static/landing/img/img2.jpg" />
                    <div class="caption">
                        <h3>YYY</h3>
                        <p>对的，这部分就是内容啦！</p>
                        <p>
                            <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">更多 »</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img alt="300x200" th:src="@{/landing/img/img1.jpg}" src="../../static/landing/img/img1.jpg" />
                    <div class="caption">
                        <h3>XXX</h3>
                        <p>是的，这部分就是内容啦！</p>
                        <p>
                            <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">更多 »</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img alt="300x200" th:src="@{/landing/img/img1.jpg}" src="../../static/landing/img/img2.jpg" />
                    <div class="caption">
                        <h3>YYY</h3>
                        <p>对的，这部分就是内容啦！</p>
                        <p>
                            <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">更多 »</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img alt="300x200" th:src="@{/landing/img/img1.jpg}" src="../../static/landing/img/img1.jpg" />
                    <div class="caption">
                        <h3>XXX</h3>
                        <p>是的，这部分就是内容啦！</p>
                        <p>
                            <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">更多 »</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img alt="300x200" th:src="@{/landing/img/img1.jpg}" src="../../static/landing/img/img2.jpg" />
                    <div class="caption">
                        <h3>YYY</h3>
                        <p>对的，这部分就是内容啦！</p>
                        <p>
                            <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">更多 »</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img alt="300x200" th:src="@{/landing/img/img1.jpg}" src="../../static/landing/img/img1.jpg" />
                    <div class="caption">
                        <h3>XXX</h3>
                        <p>是的，这部分就是内容啦！</p>
                        <p>
                            <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">更多 »</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img alt="300x200" th:src="@{/landing/img/img1.jpg}" src="../../static/landing/img/img2.jpg" />
                    <div class="caption">
                        <h3>YYY</h3>
                        <p>对的，这部分就是内容啦！</p>
                        <p>
                            <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">更多 »</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="landing/index :: footer"></div>
    <div th:include="landing/template :: page-common"></div>
</body>

</html>
