.tms-user-login {
    width: 100%;
    min-height: 100%;
    background-color: #5a3636;
    overflow: hidden;
}

.tms-user-login .container {
    width: 300px;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.tms-user-login h2 {
    color: rgba(197, 164, 164, 0.8)!important;
}

.tms-user-login .ui.form {
    background-color: #353131;
}

.tms-user-login .ui.error.message {
    background-color: #5a3636;
}

.tms-user-login .ui.error.message .header {
    color: #e0b4b4;
}

.tms-user-login .ui.checkbox label {
    color: #ad8b8b;
}

.tms-user-login .ui.checkbox input:focus~label {
    color: #ad8b8b;
}

.tms-user-login .ui.checkbox label:hover {
    color: #ad8b8b;
}

.tms-user-login .ui.button {
    background-color: #5a3636;
    color: #ad8b75;
}
