<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../favicon.ico">
<title>立衡脊柱- 脊柱健康</title>
<!-- Bootstrap core CSS -->
<link href="../../../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../../resources/scrollup/css/themes/image.css" rel="stylesheet" type="text/css">
<!-- Add custom CSS here -->
<link href="../../css/custom.css" rel="stylesheet">
<link href="../../css/health.css" rel="stylesheet">
<!-- JavaScript -->
<script src="../../../resources/js/lib/jquery-1.10.2.min.js"></script>
<script src="../../../resources/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../resources/scrollup/js/jquery.scrollUp.min.js" charset="utf-8"></script>
<script src="../../js/health.js" charset="utf-8"></script>
</head>
<body>
	<div class="lhjz-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">切换导航</span><span class="icon-bar"></span><span class="icon-bar"></span><span
										class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="../../index.html">立衡脊柱</a>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="../about.html">关于我们</a></li>
									<li><a href="../feature.html">疗法特色</a></li>
									<li><a href="../case.html">康复案例</a></li>
									<li><a href="../product.html">专利产品</a></li>
									<li><a href="../env.html">店内环境</a></li>
									<li><a href="../team.html">专家团队</a></li>
									<li class="active"><a href="../health.html">脊柱健康</a></li>
									<li><a href="../diagnose.html">在线诊断</a></li>
									<li><a href="../contact.html">联系我们</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="lhjz-body">
		<div class="container">
			<!-- 脊柱健康科普知识缩略图 -->
			<div class="row clearfix">
				<div class="col-md-12">
					<div class="articleContent">
						<h2 class="title">对脊柱的正确认识</h2>
						<div class="property">
							<span>文章来源：互联网</span> <span>作者：朱春</span> <span>发布时间：2013年12月03日</span> <span>点击数：25</span> <span>
							</span>
						</div>
						<div id="contentTxt">
							<p>
								<img src="../../img/love.jpg" alt="" class="img-responsive">
							</p>
							<p>本文导读：关于脊柱正确的是什么呢？</p>

							<p>脊柱是由脊椎骨及椎间盘构成，是一相当柔软又能活动的结构，它主要位于背部正中，上端接颅骨，下端达尾骨。</p>

							<p>
								很多人都知道<a>脊柱</a>，但是真正了解<strong>脊柱</strong>的人却少之又少。那<a style="line-height: 22.3999996185303px;"><strong>关于脊柱正确的是</strong></a>什么是呢？下列由<strong
									style="line-height: 22.3999996185303px;">脊柱外科</strong>专家为我们介绍。
							</p>

							<p>
								<br>
							</p>

							<p>
								<strong>关于脊柱正确的是</strong>：脊柱是身体的支柱，位于背部正中，上端接颅骨，下端达尾骨尖。脊柱是由<strong>脊椎</strong>骨及椎间盘构成，是一相当柔软又能活动的结构。随着身体的运动载荷，脊柱的形状可有相当大的改变。脊柱的活动取决于椎间盘的完整，相关<a>脊椎骨</a>关节突间的和谐。
							</p>

							<p>
								<strong>关于脊柱正确的是</strong>
							</p>

							<p>A. 共由24块椎骨连结而成</p>

							<p>B. 椎间盘的厚度约占脊柱全长的1/2</p>

							<p>C. 有颈、胸、腰、骶四个生理弯曲</p>

							<p>D. 由于胸部椎间盘较薄，故该处运动幅度较大</p>

							<p>E. 仅能作少量的屈、伸运动</p>

							<p>
								<strong>脊柱外科</strong>专家温馨提醒：若脊柱遭受到破坏会给患者带来各种各样的病症，比如：强直性<strong>脊柱炎</strong>、腰<a>椎间盘突</a>出、<a>颈椎病</a>等。因此，正确了解脊柱有助于对脊柱的保护
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="lhjz-footer ">
		<div class="container">
			<div class="row footer-top">
				<div class="col-sm-6 col-lg-6">
					<div class="col-xs-6">
						<h4>
							<img src="../../logo_128.jpg">
						</h4>
					</div>
					<div class="col-xs-6">
						<h4>
							<img src="../../wechat_128.jpg">
						</h4>
					</div>
				</div>
				<div class="col-sm-6  col-lg-5 col-lg-offset-1">
					<div class="row about">
						<div class="col-xs-3">
							<h4>关于</h4>
							<ul class="list-unstyled">
								<li><a href="about.html">关于我们</a></li>
								<li><a href="team.html">专家团队</a></li>
								<li><a href="env.html">店内环境</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>联系方式</h4>
							<ul class="list-unstyled">
								<li><a href="http://weibo.com/bootcss" title="立衡脊柱官方微博" target="_blank">新浪微博</a></li>
								<li><a href="mailto:admin@bootcss.com">电子邮件</a></li>
								<li><a href="contact.html">联系我们</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>产品案例</h4>
							<ul class="list-unstyled">
								<li><a href="feature.html">疗法特色</a></li>
								<li><a href="product.html">专利产品</a></li>
								<li><a href="case.html">康复案例</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>健康诊断</h4>
							<ul class="list-unstyled">
								<li><a href="health.html">脊柱健康</a></li>
								<li><a href="diagnose.html">在线诊断</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<p class="copyright text-muted small">Copyright &copy; 北京立衡脊柱 2014. 保留所有权利</p>
				</div>
			</div>
			<div class="row footer-bottom">
				<ul class="list-inline text-center">
					<li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></li>
					<li>京公网安备11010802014853</li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>