<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../favicon.ico">
<title>立衡脊柱- 脊柱健康</title>
<!-- Bootstrap core CSS -->
<link href="../../../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../../resources/scrollup/css/themes/image.css" rel="stylesheet" type="text/css">
<!-- Add custom CSS here -->
<link href="../../css/custom.css" rel="stylesheet">
<link href="../../css/health.css" rel="stylesheet">
<!-- JavaScript -->
<script src="../../../resources/js/lib/jquery-1.10.2.min.js"></script>
<script src="../../../resources/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../resources/scrollup/js/jquery.scrollUp.min.js" charset="utf-8"></script>
<script src="../../js/health.js" charset="utf-8"></script>
</head>
<body>
	<div class="lhjz-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">切换导航</span><span class="icon-bar"></span><span class="icon-bar"></span><span
										class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="../../index.html">立衡脊柱</a>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="../about.html">关于我们</a></li>
									<li><a href="../feature.html">疗法特色</a></li>
									<li><a href="../case.html">康复案例</a></li>
									<li><a href="../product.html">专利产品</a></li>
									<li><a href="../env.html">店内环境</a></li>
									<li><a href="../team.html">专家团队</a></li>
									<li class="active"><a href="../health.html">脊柱健康</a></li>
									<li><a href="../diagnose.html">在线诊断</a></li>
									<li><a href="../contact.html">联系我们</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="lhjz-body">
		<div class="container">
			<!-- 脊柱健康科普知识缩略图 -->
			<div class="row clearfix">
				<div class="col-md-12">
					<div class="articleContent">
						<h2 class="title">认识脊柱病症位置</h2>
						<div class="property">
							<span>文章来源：互联网</span> <span>作者：朱春</span> <span>发布时间：2013年12月03日</span> <span>点击数：25</span> <span> </span>
						</div>
						<div id="contentTxt">
							<p>
								<img src="../../img/love.jpg" alt="" class="img-responsive">
							</p>
							<p>认识脊柱病症位置</p>

							<p>
								<strong>认识脊柱病症位置（一）------</strong>
							</p>

							<p>
								<strong>胸椎位置</strong>
							</p>

							<p>胸椎部位</p>

							<p>第一胸椎</p>

							<p>心脏病、气管炎、气喘、咳嗽、呼吸困难等。</p>

							<p>第二胸椎</p>

							<p>心脏病、心悸、食道炎、胸痛等。</p>

							<p>第三胸椎</p>

							<p>食道炎、支气管炎、肺炎、肋膜炎、感冒等。</p>

							<p>第四胸椎</p>

							<p>肺炎、肋膜炎、胆囊炎、胸闷、胸痛等。</p>

							<p>第五胸椎</p>

							<p>肝炎、胆囊炎、、胃炎、面疱、粉刺等。</p>

							<p>第六胸椎</p>

							<p>胃炎、胆囊炎、胃胀气、胃灼热、食欲不振、糖尿病等。</p>

							<p>第七胸椎</p>

							<p>糖尿病、胃炎、胃溃疡、十二指肠溃疡等。</p>

							<p>第八胸椎</p>

							<p>肝炎、小肠炎、虚寒症、贫血等。</p>

							<p>第九胸椎</p>

							<p>小肠炎、肾上腺炎、膀胱炎、频尿、排尿困难、更年期障碍等。</p>

							<p>第十胸椎</p>

							<p>肾脏炎、水肿、痛风、肥胖症、输尿管炎、静脉曲张等。</p>

							<p>第十一胸椎</p>

							<p>肾脏炎、大肠炎、水肿、输尿管炎、性功能减退等。</p>

							<p>第十二胸椎</p>

							<p>膀胱炎、频尿、不孕排卵障碍、痛风等。</p>

							<p>
								<strong>认识脊柱病症位置（二）------</strong>
							</p>

							<p>
								<strong>颈椎部位</strong>
							</p>

							<p>颈椎部位</p>

							<p>第一节颈椎</p>

							<p>头痛，头晕，失眠，眼睛酸痛，记忆力减退，高血压等.</p>

							<p>第二节颈椎</p>

							<p>耳鸣，眼疾，昏眩，失声，扁桃体炎，腮腺炎，鼻窦炎，等。</p>

							<p>第三节颈椎</p>

							<p>咽喉炎，肩颈酸痛，呼吸困难，湿疹等。</p>

							<p>第四节颈椎</p>

							<p>肩膀酸痛，手臂无力，牙痛，胃痛，甲状腺炎等。</p>

							<p>第五节颈椎</p>

							<p>手臂酸痛，气管炎，咽喉炎，甲状腺炎，口臭等。</p>

							<p>第六节颈椎</p>

							<p>甲状腺炎，手腕痛，五十肩，拇指及食指酸麻等。</p>

							<p>第七节颈椎</p>

							<p>甲状腺炎，中指及无名指酸麻，气喘，气管炎，小指酸麻等。</p>

							<p>
								<strong>认识脊柱病症位置（三）------</strong>
							</p>

							<p>
								<strong>腰椎部位</strong>
							</p>

							<p>腰椎部位</p>

							<p>第一腰椎</p>

							<p>大腿前侧痛、输尿管炎、子宫炎、更年期障碍、尿失禁等。</p>

							<p>第二腰椎</p>

							<p>
								卵巢炎、输卵管阻塞、月经失调、腰痛、坐骨神经痛等。<br>
							</p>

							<p>第三腰椎</p>

							<p>膀胱炎、月经失调、子宫肌瘤、坐骨神经痛、腰痛、水肿等。</p>

							<p>第四腰椎</p>

							<p>小腿内侧酸麻胀痛、腰痛、坐骨神经痛、前列腺障碍等。</p>

							<p>第五腰椎</p>

							<p>小腿外侧酸麻胀痛、坐骨神经痛、膀胱炎、直肠炎、尿频、尿失禁、痔疮等。</p>

							<p>
								<strong>认识脊柱病症位置（四）------</strong>
							</p>

							<p>
								<strong>骶椎尾椎部位</strong>
							</p>

							<p>骶椎尾椎部位</p>

							<p>骶椎</p>

							<p>前列腺炎、坐骨神经痛、痛经、月经失调、皮肤症状、尿频、尿失禁、痔疮等。</p>

							<p>尾椎</p>

							<p>尾椎痛、肛门炎、直肠炎、尿频、尿失禁、痔疮等。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="lhjz-footer ">
		<div class="container">
			<div class="row footer-top">
				<div class="col-sm-6 col-lg-6">
					<div class="col-xs-6">
						<h4>
							<img src="../../logo_128.jpg">
						</h4>
					</div>
					<div class="col-xs-6">
						<h4>
							<img src="../../wechat_128.jpg">
						</h4>
					</div>
				</div>
				<div class="col-sm-6  col-lg-5 col-lg-offset-1">
					<div class="row about">
						<div class="col-xs-3">
							<h4>关于</h4>
							<ul class="list-unstyled">
								<li><a href="about.html">关于我们</a></li>
								<li><a href="team.html">专家团队</a></li>
								<li><a href="env.html">店内环境</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>联系方式</h4>
							<ul class="list-unstyled">
								<li><a href="http://weibo.com/bootcss" title="立衡脊柱官方微博" target="_blank">新浪微博</a></li>
								<li><a href="mailto:admin@bootcss.com">电子邮件</a></li>
								<li><a href="contact.html">联系我们</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>产品案例</h4>
							<ul class="list-unstyled">
								<li><a href="feature.html">疗法特色</a></li>
								<li><a href="product.html">专利产品</a></li>
								<li><a href="case.html">康复案例</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>健康诊断</h4>
							<ul class="list-unstyled">
								<li><a href="health.html">脊柱健康</a></li>
								<li><a href="diagnose.html">在线诊断</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<p class="copyright text-muted small">Copyright &copy; 北京立衡脊柱 2014. 保留所有权利</p>
				</div>
			</div>
			<div class="row footer-bottom">
				<ul class="list-inline text-center">
					<li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></li>
					<li>京公网安备11010802014853</li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>