<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../favicon.ico">
<title>立衡脊柱- 脊柱健康</title>
<!-- Bootstrap core CSS -->
<link href="../../../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../../resources/scrollup/css/themes/image.css" rel="stylesheet" type="text/css">
<!-- Add custom CSS here -->
<link href="../../css/custom.css" rel="stylesheet">
<link href="../../css/health.css" rel="stylesheet">
<!-- JavaScript -->
<script src="../../../resources/js/lib/jquery-1.10.2.min.js"></script>
<script src="../../../resources/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../resources/scrollup/js/jquery.scrollUp.min.js" charset="utf-8"></script>
<script src="../../js/health.js" charset="utf-8"></script>
</head>
<body>
	<div class="lhjz-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">切换导航</span><span class="icon-bar"></span><span class="icon-bar"></span><span
										class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="../../index.html">立衡脊柱</a>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="../about.html">关于我们</a></li>
									<li><a href="../feature.html">疗法特色</a></li>
									<li><a href="../case.html">康复案例</a></li>
									<li><a href="../product.html">专利产品</a></li>
									<li><a href="../env.html">店内环境</a></li>
									<li><a href="../team.html">专家团队</a></li>
									<li class="active"><a href="../health.html">脊柱健康</a></li>
									<li><a href="../diagnose.html">在线诊断</a></li>
									<li><a href="../contact.html">联系我们</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="lhjz-body">
		<div class="container">
			<!-- 脊柱健康科普知识缩略图 -->
			<div class="row clearfix">
				<div class="col-md-12">
					<div class="articleContent">
						<h2 class="title">脊柱生理曲度的意义</h2>
						<div class="property">
							<span>文章来源：互联网</span> <span>作者：朱春</span> <span>发布时间：2013年12月03日</span> <span>点击数：25</span> <span> </span>
						</div>
						<div id="contentTxt">
							<p>
								<img src="../../img/love.jpg" alt="" class="img-responsive">
							</p>
							<p>摘要：正常成年人脊柱的长度约70厘米，女性和老年人稍短，在前后方向有4个生理性的弯曲，自上而下分别为颈曲、胸曲、腰曲和骶曲。</p>

							<p>正常成年人脊柱的长度约70厘米，女性和老年人稍短，在前后方向有4个生理性的弯曲，自上而下分别为颈曲、胸曲、腰曲和骶曲。这4个生理弯曲是直立位行走的哺乳动物特有的，使脊柱如同一个大弹簧，可有效地增加缓冲震荡的能力，加强姿势的稳定性。</p>

							<p>脊柱的颈曲和腰曲凸向前方，胸曲和骶曲凸向后方。在胚胎早期，脊柱呈“C”形弯曲，人出生时颈部有稍向前凸的弯曲，而腰部几乎是直的，胸部和骶部则保持原来的弯曲。当婴儿出生后2～8个月开始抬头、端坐时，颈部脊柱发生变化，逐渐形成永久性的颈曲，这可使头在身上保持平衡；当婴儿1岁后开始站立、行走时，腰曲开始形成，使婴儿在骶骨上保持平衡，上半身的重量经髋骨传至下肢。</p>

							<p>
								根据上述各弯曲的形成过程可以看出，胸曲和骶曲是先天形成的，而颈曲和腰曲是后天形成的。在老年人，因髓核脱水，椎间盘逐渐退化而椎间隙变窄，颈曲逐渐消失，胸曲逐渐加大，从而形成老年性驼背。当人们长期从事低头伏案工作或弯腰搬物工作，可使颈曲和腰曲的生理曲度变直，从而改变相应的椎间隙及椎间孔而产生<a>腰痛</a>并可牵涉头部、上肢、下肢等相关神经分布区域的症状。
							</p>

							<p>
								此外，脊柱的胸段还常有轻度向右侧弯，这是由于常用右手工作，右上肢肌肉的牵拉及主动脉弓和降主动脉上部对脊柱压迫所形成的。在发生<a>腰椎间盘突出</a>时，常常是向左侧突出，压迫左侧神经根而表现左侧下肢的症状。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="lhjz-footer ">
		<div class="container">
			<div class="row footer-top">
				<div class="col-sm-6 col-lg-6">
					<div class="col-xs-6">
						<h4>
							<img src="../../logo_128.jpg">
						</h4>
					</div>
					<div class="col-xs-6">
						<h4>
							<img src="../../wechat_128.jpg">
						</h4>
					</div>
				</div>
				<div class="col-sm-6  col-lg-5 col-lg-offset-1">
					<div class="row about">
						<div class="col-xs-3">
							<h4>关于</h4>
							<ul class="list-unstyled">
								<li><a href="about.html">关于我们</a></li>
								<li><a href="team.html">专家团队</a></li>
								<li><a href="env.html">店内环境</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>联系方式</h4>
							<ul class="list-unstyled">
								<li><a href="http://weibo.com/bootcss" title="立衡脊柱官方微博" target="_blank">新浪微博</a></li>
								<li><a href="mailto:admin@bootcss.com">电子邮件</a></li>
								<li><a href="contact.html">联系我们</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>产品案例</h4>
							<ul class="list-unstyled">
								<li><a href="feature.html">疗法特色</a></li>
								<li><a href="product.html">专利产品</a></li>
								<li><a href="case.html">康复案例</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>健康诊断</h4>
							<ul class="list-unstyled">
								<li><a href="health.html">脊柱健康</a></li>
								<li><a href="diagnose.html">在线诊断</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<p class="copyright text-muted small">Copyright &copy; 北京立衡脊柱 2014. 保留所有权利</p>
				</div>
			</div>
			<div class="row footer-bottom">
				<ul class="list-inline text-center">
					<li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></li>
					<li>京公网安备11010802014853</li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>