.tms-chat-direct {
    height: 100%;
}

.tms-chat-direct .top.fixed.menu {
    padding-left: 220px;
    height: 60px;
}

.tms-chat-direct .ui.left.sidebar {
    width: 220px;
}

.tms-chat-direct .ui.left.sidebar .ui.list {
    position: absolute;
    bottom: 0;
    top: 60px;
    overflow-y: auto;
    width: 190px;
}

.tms-chat-direct .ui.left.sidebar .tms-header {
    height: 40px;
}

.tms-chat-direct .ui.left.sidebar .tms-header input {
    border: 1px #e0e1e2 solid;
    font-size: 12px;
    padding: 4px;
    /* border-radius: 3px; */
    width: 190px;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.tms-chat-direct .ui.left.sidebar .tms-header i.close.icon {
    position: absolute;
    right: 11px;
    top: 45px;
}

.tms-chat-direct .ui.left.sidebar .tms-header .ui.header {
    margin-bottom: 0;
}

.tms-chat-direct .tms-content {
    padding-top: 60px;
    padding-left: 220px;
    /* display: flex;
    align-items: stretch; */
    min-height: 100%;
}

.tms-chat-direct .tms-content .tms-col.w65 {
    /* flex: auto; */
}

.tms-chat-direct .tms-content .tms-col.w35 {
    width: 380px;
    border-left: 1px #e0e1e2 solid;
}

.tms-chat-direct .ui.basic.segment.tms-msg-input {
    position: fixed;
    bottom: 0;
    /* right: 30%; */
    left: 220px;
    right: 0;
    background-color: white;
    padding-bottom: 22px;
}

.tms-chat-direct .ui.basic.segment.tms-msg-input .tms-upload-progress {
    /* height: 15px; */
    position: absolute;
    /* width: 97.5%; */
    /* top: 5px; */
    /* bottom: 5px; */
    bottom: 65px;
    background-color: #e0e1e2;
    right: 15px;
    left: 15px;
    // min-height: 10px;
}

.tms-chat-direct .ui.basic.segment.tms-msg-input .tms-upload-progress .dz-preview {
    display: block!important;
    width: auto!important;
}

.tms-chat-direct .ui.comments {
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: none;
}

.tms-chat-direct .tms-msg-input .ui[class*="left action"].input>textarea {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-left-color: transparent!important;
}

.tms-chat-direct .tms-msg-input .ui.icon.input textarea {
    padding-right: 2.67142857em!important;
}

.tms-chat-direct .tms-msg-input .ui.input textarea {
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.2142em;
    padding: .67861429em 1em;
    background: #FFF;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    box-shadow: none;
}

.tms-chat-direct .tms-edit-textarea {
    width: 100%;
}

.tms-chat-direct .ui.selection.list>.item {
    cursor: default;
}

@media only screen and (max-width: 767px) {
    .tms-chat-direct .tms-left-sidebar {
        display: none;
    }
    .tms-chat-direct .top.fixed.menu {
        padding-left: 0;
    }
    .tms-chat-direct .tms-content {
        padding-left: 0;
    }
    .tms-chat-direct .ui.basic.segment.tms-msg-input {
        left: 0;
    }
}
