body {
    /* overflow: hidden; */
}

div.admin.login {
    min-width: 300px;
    max-width: 300px;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#context {
    min-height: 450px;
    padding-bottom: 20px;
}

.ad-index-content {
    padding-top: 70px;
    padding-bottom: 20px;
    padding-right: 12px;
    min-height: 100%;
}

.ad-index-container {
    /* margin-left: 185px; */
    margin-left: 160px;
    position: relative;
    min-height: 432px;
}

.ad-index-rail {}

.ad-index-sticky {
    width: 120px;
}

@media only screen and (max-width: 767px) {
    .ad-index-rail {
        display: none;
    }
    .ad-index-container {
        margin-left: 12px;
    }
}


#dropzone {
    max-width: 500px;
    margin: auto;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.dropzone .dz-message {
    font-weight: 400;
    font-size: x-large;
}

</style>
